<div id = "home">
  <!-- <img src="https://media.giphy.com/media/irv7qwknRUyWYqtMJL/source.gif" id="computer-gif"/> -->
  <h1 id="title">Irenna Lumbuun</h1>
  <div id="home-text-container">
    <p id="tagline"></p>
    <p class="blink_me" id="blink">I</p>
  </div>
  <div id="home-button-container">
    <a href="https://drive.google.com/file/d/1fDuU8MpPnxTOa1bX1T353ji3BtPCv_md/view?usp=sharing" target="_blank" class="contact-button" id="home-contact-button">Resume</a>
    <a href="https://www.linkedin.com/in/irenna-lumbuun" target="_blank" class="contact-button" id="linkedin-contact-button">LinkedIn</a>
    <a href="http://github.com/irennalumbuun" target="_blank" class="contact-button" id="github-contact-button">Github</a>
  <div>
</div>