#home{
    background: transparent;
    position: absolute;
    top: 80%;
    width: 100%;
    display:flex;
    font-family: sans-serif;
    margin-left:1rem;
}

#tagline{
    color: white;
    font-size: 4vh;
    font-family: sans-serif;
    align-self: center;
}

.blink_me {
  animation: blinker 1s ease-in infinite;
  color:white;
  opacity:1;
}
@keyframes blinker {
  50% {
    opacity: 0;
  }
}

#blink{
    color:white;
    font-size:5vh;
}