 <div id="home"> 
    <h2 id = "hello">Hello, I am</h2>
    <h1 id ="name">Irenna Lumbuun</h1>
    <div id="separator"></div>

    <!-- social media hovers by Kieran https://codepen.io/kieranfivestars/pen/gbOWbM*/-->
    <div id ="contact-list">
        <a href="https://www.linkedin.com/in/irenna-lumbuun/" target="_blank" class="contact-list-option"><img src="../../assets/contacts/linkedin.png" class="img-option"><span>LinkedIn</span></a>
        <a href="https://github.com/irennalumbuun" target="_blank" class="contact-list-option"><img src="../../assets/contacts/github.png" class="img-option" id="img-github"><span>Github</span></a>
        <a href="./Irenna-Lumbuun.pdf" download="Resume-Irenna-Lumbuun"  class="contact-list-option"><img src="../../assets/contacts/email.png" class="img-option"><span>Resume</span></a>
      </div>
  </div>